################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ARAS.Blazor/bin
/ARAS.Blazor/Migrations
/ARAS.Blazor/obj
/ARAS.Blazor/Properties/PublishProfiles
/ARAS.Blazor/ARAS.Blazor.csproj.user
/ARAS.Gateway/bin
/ARAS.Gateway/obj
/ARAS.Gateway/Properties/PublishProfiles
/ARAS.Gateway/ARAS.Gateway.csproj.user
/ARAS.Main.Oracle.Api/bin
/ARAS.Main.Oracle.Api/obj
/ARAS.Main.Oracle.Api/Properties/PublishProfiles
/ARAS.Main.Oracle.Api/ARAS.Main.Oracle.Api.csproj.user
/ARAS.Main.SSMS.Api/ARAS.Main.SSMS.Api.csproj.user
/ARAS.Main.SSMS.Api/bin
/ARAS.Main.SSMS.Api/Migrations
/ARAS.Main.SSMS.Api/obj
/ARAS.Main.SSMS.Api/Properties/PublishProfiles
/ARAS.OracleSync.Worker/bin/Debug/net9.0
/ARAS.OracleSync.Worker/obj
/AR Adjustment System.slnLaunch.user
